@import 'colors';
@import 'animation';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 69px;
}
.wrapper {
	position: relative;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}
.container {
	overflow: hidden;
}
h2 {
	text-transform: uppercase;
	text-align: center;
}
.underline {
	width: 60px;
	height: 4px;
	background-color: $main-color;
	margin: 0 auto 40px;
}

nav {
	text-transform: uppercase;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
	a,
	i {
		color: $white;
	}

	.nav-link {
		color: $white;
	}
	.active {
		color: $main-color;
	}

	a:hover {
		color: $main-color;
	}

	.nav-link:hover {
		color: $main-color;
	}
	.navbar-nav .nav-link.active {
		color: $main-color;
	}

	.navbar-brand {
		font-weight: bold;
		color: $white;
	}
	.navbar-brand:hover {
		color: $white;
	}
	.navbar-toggler {
		border: 1px solid transparent;
	}
	.navbar-toggler:focus {
		box-shadow: none;
	}
}
.fa-bars {
	padding: 10px;
	color: $main-color;
	font-size: 24px;
}

header {
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url(../img/new-york-city-gb7e9317df_1920.jpg);
		background-size: cover;
		background-position: 0% 98%;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -10;
	}

	.hero-photo {
		position: absolute;
		background-image: url(../img/frontphoto.png);
		top: 25%;
		left: 50%;
		height: 180px;
		width: 180px;
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		transform: translateX(-50%);
		z-index: 20;
	}
	.hero-text {
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translateX(-50%);
		color: white;
		p {
			text-align: center;
			margin-bottom: 5px;
		}
	}
	.download-box {
		position: absolute;
		left: 50%;
		top: 85%;
		transform: translateX(-50%);
		z-index: 20;
	}
	.btn-primary:hover {
		background-color: $main-color;
	}
	.downloadcv {
		border: none;
		background-color: $main-color;
	}
	.downloadcv:hover {
		text-decoration: none;
	}
}

.linkedin-placeholder {
	font-size: 36px;
	i {
		color: #0e76a8;
	}
}
.aboutme {
	// height: 50vh;
	.card {
		border: none;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
	}
	.card-title {
		text-transform: uppercase;
		font-weight: bold;
	}
	.card-text {
		margin-top: 30px;
	}
	.row {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.info-desc {
		font-weight: bold;
	}
	.fade-left {
		overflow-x: hidden;
	}
	.fade-right {
		overflow-x: hidden;
	}
}

.experience {
	background-color: $bg-color;

	.job-box {
		padding-left: 0px;
		padding-right: 0px;
	}
	.card {
		margin: auto;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	}
	.logo {
		background-color: $main-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		color: white;
	}
	.company {
		font-weight: bold;
		font-size: 1.25rem;
		padding-bottom: 10px;
	}
}

.education {
	position: relative;
	ul.timeline {
		list-style-type: none;
		position: relative;
	}
	ul.timeline:before {
		content: ' ';
		background: #d4d9df;
		display: inline-block;
		position: absolute;
		left: 29px;
		width: 2px;
		height: 100%;
		z-index: 400;
	}
	ul.timeline > li {
		margin: 20px 0;
		padding-left: 20px;
	}
	ul.timeline > li:before {
		content: ' ';
		background: white;
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 3px solid $main-color;
		left: 20px;
		width: 20px;
		height: 20px;
		z-index: 400;
	}

	background-image: url(../img/black-g09d47c7da_1920.jpg);
	background-attachment: fixed;
	.school {
		color: white;
		font-size: 24px;
	}

	.education-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 0;
	}
	.container {
		h2,
		p {
			position: relative;
			color: white;
			z-index: 0;
		}
	}

	.underline {
		z-index: 0;
	}
	.school-year {
		color: white;
	}
}
.skills {
	background-color: $bg-color;
	// height: 100vh;

	.progress-bar {
		position: relative;
		height: 20px;
		width: 100%;
		background-color: white;
		border-radius: 10px;
	}
	.skill-box {
		p {
			display: inline-block;
			text-transform: uppercase;
			// font-weight: bold;
		}
		.percent {
			text-align: right;
		}
		padding: 0px 30px;

		// margin: 5px;
	}
	.real-progress {
		position: absolute;
		background-color: $main-color;
		height: 100%;
		// width: 50%;
	}

	.text {
		display: flex;
		justify-content: space-between;
	}
	.html-bar {
		width: 80%;
	}
	.css-bar {
		width: 80%;
	}
	.js-bar {
		width: 35%;
	}
	.bootstrap-bar {
		width: 70%;
	}
	.python-bar {
		width: 40%;
	}
	.sql-bar {
		width: 80%;
	}
	.skill-desc {
		text-align: left;
		padding: 15px;
	}

	.skill-general {
		// background-color: $bg-color;

		.box-abilities {
			// border: 1px solid black;
			margin: 20px 10px;
			background-color: white;
			padding: 20px 10px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
			transition: transform 0.5s;
			// flex-wrap: nowrap;
		}
		.box-abilities:hover {
			transform: scale(1.05);
		}
	}
	.fa-solid {
		font-size: 36px;
		color: $main-color;
	}
}

footer {
	background-color: $main-color;
}
@media (max-width: 320px) {
	header {
		.hero-img {
			.hero-photo {
				top: 20%;
			}

			.hero-text {
				top: 55%;
			}
			.download-box {
				top: 90%;
			}
			.hero-text {
				h2 {
					font-size: 22px;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	header {
		h2 {
			font-size: 28px;
		}
		.hero-photo {
			top: 30%;
		}
		.hero-text {
			top: 60%;
		}
		.download-box {
			top: 80%;
		}
	}
}
@media (min-width: 576px) {
	header {
		.hero-img {
			height: 50vh;
		}
		.download-box {
			margin-top: 10px;
		}
	}
}
@media (min-width: 768px) {
	.experience {
		.card-body {
			padding-left: 30px;
		}
		.position {
			padding-bottom: 15px;
			font-size: 24px;
		}
	}
}
@media (max-width: 767px) {
	.experience {
		.logo {
			height: 100px;
		}
	}
	.education {
		.school {
			font-size: 18px;
		}
	}
}

@media (max-height: 600px) and (max-width: 1024px){
	header{
		.hero-photo{
			top: 30%;
			left: 25%;
		}
		.hero-text{
			top: 45%;
		}
		.download-box{
			top: 80%;
		}
	}
	

}
@media (max-height: 568px) and (max-width: 320px){
	header{
		.hero-photo{
			top: 30%;
			left: 50%;
		}
		.hero-text{
			top: 45%;
		}
		.download-box{
			top: 80%;
		}
	}
	

}

// @media (max-width: 992px) { html, body { overflow-x: hidden; overflow-y: visible; } }
